body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#map-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.map {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.text {
    position: absolute;
    top: 60vh;
    right: 3%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px;
    display: none;
    
}

.text h2 {
    font-size: 4vh;
    margin-bottom: 10px;
    white-space: pre;
    text-align: right;
}

.text p {
    font-size: 2vh;
    white-space: pre;
    text-align: right;
    

}

#map1 {
    opacity: 1;
}

#text1 {
    display: block;
}

.map-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: none; /* 기본적으로 숨기기 */
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #FF9900;
}

#gm-slider {
    width: 100%; /* 슬라이더 너비 */
    margin: 10px 0;
    appearance: none; /* 기본 브라우저 스타일 제거 */
    background: #ddd; /* 기본 트랙 색상 */
    height: 6px;
    border-radius: 5px;
    outline: none;
}

#gm-slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff; /* 슬라이더 버튼 색상 */
    border-radius: 50%;
    cursor: pointer;
}

#gm-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

.map-half {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
}

#map8Left {
    left: 0;
}

#map8Right {
    right: 0;
}

#map8-slider {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    width: 100%;
    z-index: 10;
    pointer-events: all; /* 슬라이더와 지도가 독립적으로 동작 */
}